<%- include('./partials/head') %>
<title>403</title>
</head>

<body>
  <%- include('./partials/header') %>

  <main>
    <h1>403 Forbidden</h1>
    <p><%= message %></p>
  </main>

  <%- include('./partials/footer') %>
</body>

</html>
