<%- include('./partials/head') %>
<title>Ayuda — Mundo 3D</title>
</head>

<body>
  <%- include('./partials/header') %>

  <main class="form-layout">
    <article class="about-content">
      <section>
        <h1>Ayuda</h1>
      </section>

      <section>
        <h2>Soporte y Contacto</h2>
        <p>Si tiene alguna duda o inconveniente con su compra, nuestro equipo de soporte está disponible para ayudarle.</p>
        <p>Puede enviarnos un correo electrónico a soporte@mundo3d.com o contactarnos a través de nuestras redes sociales.</p>
      </section>
    </article>
  </main>

  <%- include('./partials/footer') %>
</body>

</html>
