<%- include('./partials/head') %>
<title>Política de privacidad — Mundo 3D</title>
</head>

<body>
  <%- include('./partials/header') %>

  <main class="form-layout">
    <article class="about-content">
      <section>
        <h1>Política de privacidad</h1>
      </section>

      <section>
        <h2>Protección de Datos</h2>
        <p>En Mundo 3D, nos tomamos muy en serio la privacidad de nuestros usuarios. Esta política de privacidad describe cómo recopilamos, utilizamos y protegemos su información personal.</p>
        <p>Su información no será compartida con terceros salvo que sea necesario para la prestación del servicio o por obligación legal.</p>
      </section>
    </article>
  </main>

  <%- include('./partials/footer') %>
</body>

</html>
