<%- include('./partials/head') %>
<title>Paso a paso — Mundo 3D</title>
</head>

<body>
  <%- include('./partials/header') %>

  <main class="form-layout">
    <article class="about-content">
      <section>
        <h1>Paso a paso</h1>
      </section>

      <section>
        <h2>Guía de Impresión Personalizada</h2>
        <p>Siga estos simples pasos para obtener su figura 3D personalizada:</p>
        <ol>
          <li>Seleccione o suba su modelo 3D predilecto.</li>
          <li>Configure las dimensiones, material y colores deseados.</li>
          <li>Realice el pago y haga el seguimiento de su pedido desde su perfil.</li>
        </ol>
      </section>
    </article>
  </main>

  <%- include('./partials/footer') %>
</body>

</html>
