---
import Layout from '../layouts/Layout.astro';
import { CartList } from '../domains/cart';
---

<Layout title="Carrito de Compras - Mundo 3D">
  <main class="cart">
    <h2>PRODUCTOS EN SU CARRITO</h2>
    <CartList />
  </main>
</Layout>
