---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Preguntas frecuentes — Mundo 3D">
  <main class="form-layout">
    <article class="about-content">
      <section>
        <h1>Preguntas frecuentes</h1>
      </section>

      <section>
        <h2>Preguntas de los Clientes</h2>
        <p><strong>¿Cómo realizo un pedido?</strong><br>Puede explorar nuestro catálogo, seleccionar un producto y agregarlo al carrito para finalizar la compra.</p>
        <p><strong>¿Cuáles son los tiempos de entrega?</strong><br>Dependiendo de la complejidad de la impresión 3D, los pedidos suelen entregarse en un plazo de 3 a 7 días hábiles.</p>
      </section>
    </article>
  </main>
</Layout>
