---
import Layout from '../layouts/Layout.astro';
import { RegisterForm } from '../domains/auth';
---

<Layout title="Registro - Mundo 3D">
  <main class="form-layout">
    <div class="form-card--medium">
      <RegisterForm />
    </div>
  </main>
</Layout>
