---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Términos y condiciones — Mundo 3D">
  <main class="form-layout">
    <article class="about-content">
      <section>
        <h1>Términos y condiciones</h1>
      </section>

      <section>
        <h2>Condiciones de Uso</h2>
        <p>Bienvenido a Mundo 3D. Al acceder y utilizar este sitio web, usted acepta cumplir y estar sujeto a los siguientes términos y condiciones de uso.</p>
        <p>El contenido de las páginas de este sitio web es para su información general y uso exclusivo. Está sujeto a cambios sin previo aviso.</p>
      </section>
    </article>
  </main>
</Layout>
